{% extends "base.html" %}

{% block content %}
<h2 class="my-5">Welcome , Here are your notes.</h2>
<a href="{% url 'notes.new' %}" class="btn btn-primary">New note</a>
<br><br>
<h7>Click a note to open it </h7>
<br><br>
    <div class="row row-cols3 g-2">
        {% for note in notes %}
        <div class="col">
            <div class="p-3 border">
                <a href="{% url 'notes.detail' pk=note.id %}" class="text-decoration-none">
                    <h2 class="note-li">{{note.title}}</h2>
                </a>
                <h6>{{note.created}}</h6>
                <em>{{note.text|truncatechars:20}}</em>
                <!-- <p><strong>{{note.text}}</strong></p> -->
                <!-- <br><br><br><br> -->
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
    <title>notes</title>
</head>
<body>
    <h1>Welcome to my Blog !!!!!!!</h1>
    <ol>
        {% for note in notes %}
            <li class="note-li">{{note.title}}   &nbsp;&nbsp;&nbsp; <p>{{note.created}}</p> </li>
            <!-- <p><strong>{{note.text}}</strong></p> -->
            <!-- <br><br><br><br> -->
        {% endfor %}
    </ol>
</body>
</html> -->


