<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
</head>
<body>
    <h1>Welcome to my Blog !!</h1>
    <ol>
        {% for note in notes %}
            <li>{{note.title}}</li>
            <p>{{note.created}}</p>
            <p><strong>{{note.text}}</strong></p>
            <br><br><br><br>
        {% endfor %}
    </ol>
</body>
</html>